<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        Node App
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blogs">Blogs</a>
          </li>
          <% if(loggedIn){ %>
          <li class="nav-item">
            <a class="nav-link" href="/posts/new">Create</a>
          </li>
          <% } %>
        </ul>
        
        <span class="navbar-text">
          <% if(!loggedIn){ %>
          <a href="/auth/register">
            Register
          </a>
          <a href="/auth/login">
            <i class="fas p-1 fa-key"></i>
          </a>
          <% } %>
          <% if(loggedIn){ %>
          <a href="/auth/logout">
            <i class="fas p-1 fa-sign-out-alt"></i>
          </a>
          <% } %>
        </span>
      </div>
    </div>
  </nav>