<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header') -%>
<body>
  <%- include('layouts/navbar') -%>

  <div class="container-main card p-5 mt-5 mb-5">
      <h1 class="display-4 text-center mt-5">About Page</h1>
      <hr />
      <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequatur consequuntur dicta ducimus eius exercitationem, ipsa ipsum iure laborum maiores modi molestias nisi nulla qui rem reprehenderit sint veniam veritatis.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores fugit in inventore iusto labore magnam reiciendis voluptas! At, eum eveniet maiores nihil numquam odit quis, rem soluta tempore, unde vitae.
          <br><br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dicta harum quibusdam voluptatem! A corporis doloremque inventore nam sint. Animi dolorum necessitatibus numquam sed! Animi in iure magnam necessitatibus optio?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad consequuntur, dolore itaque labore maxime repellat repudiandae? Aperiam aut beatae dolores fugiat impedit, laborum perferendis qui, quisquam quos similique sint.
      </p>
  </div>
  <%- include('layouts/footer') -%>
</body>
<!-- MDB -->
<%- include('layouts/scripts') -%>
</html>