<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header') -%>
<body>
  <%- include('layouts/navbar') -%>

  <div class="main">
    <div class="container">
      <h1 class="display-3 text-white">Node App for <br> Inspired Bloggers</h1>
    </div>
  </div>

  <div class="container mt-1 mb-5">
    <div class="mb-5">
      <div class="text-center mt-5 mb-5">
        <h1 class="display-5">Made With
          <img src="/img/app-intro.png" width="150px" height="60px" alt="node.js">
        </h1>
      </div>
      <h3>Created by
        <a href="https://www.clear-web-designs.com" target="_blank">
          <img src="/img/logo-cwd.png" height="25px" alt="cwd" />
        </a>
      </h3>
    </div>
    <div class="row pb-3">
      <div class="col-md">
        <h1 class="display-6">Articles by You</h1>
        <hr />
        <p class="lead">
          Article reads and short blogs for readers and thinkers. What is your next trending
          article going to be? Will it be about our recent health care laws or technology?
        </p>
      </div>
      <div class="col-md">
        <img class="img-fluid shadow-2-strong rounded" src="/img/main-img.png" alt="">
      </div>
    </div>
  </div>

  <%- include('layouts/footer') -%>
</body>
<!-- MDB -->
<%- include('layouts/scripts') -%>
</html>