<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header') -%>
<body>
  <%- include('layouts/navbar') -%>

    <div class="container-main card p-5 mt-3 mb-5">
      <br>
        <h1 class="display-4 mb-5">User Login Page</h1>

      <form class="mt-3" action="/users/login" method="POST" enctype="multipart/form-data">

          <!-- Name input -->
          <div class="form-outline mb-4">
            <input type="text" required name="username" id="username" class="form-control" />
            <label class="form-label">UserName</label>
          </div>

          <!-- Name input -->
          <div class="form-outline mb-4">
            <input type="password" required name="password" id="password" class="form-control" />
            <label class="form-label">Password</label>
          </div>
        
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
      </form>
      <br>
    </div>
  <%- include('layouts/footer') -%>
</body>
<!-- MDB -->
<%- include('layouts/scripts') -%>
</html>